.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 70px;
  box-sizing: border-box;
  gap: 20px;
}

.practical,
.education,
.general {
  border: 1px dashed black;
  border-radius: 20px;
}

p {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.field-container {
  padding: 40px;
}

.hidden {
  display: none;
}
